*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-Montserrat);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--clr-dark-bg);
  color: var(--clr-white);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: flex;
}
