:root {
  --clr-dark-bg: #181719;
  --clr-white: #fff;
  --clr-primary: #e25e21;
  --clr-gray: #828282;

  --fnt-lora: Lora, "sans-serif";
  --font-crimsonPro: "Crimson Pro", "sans-serif";
  --font-Montserrat: Montserrat, "sans-serif";

  --shd-box: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
